<div class="container">
  <div id="Closets" class="row box">
    <div id="ClosetsItems" class="col-xs-4">
      <% @send_clothes.each do |key, val| %>
        <% val.each do |obj| %>
          <div class="col-md-6 col-sm-12">
            <div class="ItemBox" style="background-image:url(<%= asset_path obj.file_name %>); background-size:50% auto; background-repeat: no-repeat;" onclick="draw_image('<%= asset_path obj.file_name %>');">
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <canvas id="ClosetsCharactor" class="col-xs-8">
    </canvas>
    <div id="ClosetsItemGroups" class="col-xs-12">
      <% @send_clothes.each do |key, val| %>
      <div class="GroupBox">
        <%= key %>
      </div>
      <% end %>
    </div>
  </div>
</div>
