<div class="col-sm-12 top_box">
	<p class="logo"><img src="assets/logo.png" arc="logo" class="logo_img"></p>
	<h2 class="logo_text">まいにち続けるカンタン家計簿<h2>
	<p class="btn-signup"><%= link_to 'アカウントを作成', signup_path, {:class => "btn btn-default btn-lg"} %></p>
</div>
<div id="top_girl">
	<img src="assets/top_sotaichan_clear.png" class="img-responsive">
</div>
