<!-- TopPic -->
<div id="TopPic">
	<div class="container">
		<h1>
			<span>おてがる、</span>
			<span>カンタン、</span>
			<span>家計簿アプリ</span>
		</h1>
		<%= link_to 'Sign up', signup_path, class: 'btn btn-danger' %>
	</div>
</div>

<!-- AppInfo -->
<div id="AppInfo">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<h1>ABOUT</h1>
				<hr width="128px">
				<p>お手軽に<br>楽しく続けられる<br>家計簿アプリです。</p>
			</div>
			<div class="col-sm-4 col-xs-12">
				<h1>TEAM</h1>
				<hr width="128px">
				<p>筑波大学2017年度<br>enPiT履修生<br>チーム [やっていき]</p>
			</div>
			<div class="col-sm-4 col-xs-12">
				<h1>CONTACT</h1>
				<hr width="128px">
				<p>筑波大学3B311教室</p>
			</div>
		</div>
	</div>
</div>
