<div class="col-sm-12">
  <h1 class="title">Editing User</h1>

  <%= render 'form', user: @user %>

  <%= link_to '戻る', @user %>
  <%= link_to 'ログアウト', login_path %> |
  <%= link_to '退会', retire_path %>
</div>
