<div class="container main">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div id="Infomation" class="box">
        <div class="title">
          <div>
            <h3><%= @user.name %>さんの家計簿</h3>
            <hr width="300px">
            <p>
              <span class="title-middle">今月の残高：</span>
              <span class="title-rest"><%= @rest %>円</span>
            </p>
            <p><span>今月の予算：</span><span><%= @user.budget %>円</span></p>
            <p><span>今月の出費：</span><span><%= @lost%>円</span></p>
          </div>
        </div>
      </div>
      <div id="PurchaseForm" class="box">PurchaseForm</div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div id="Charactor" class="box">Charactor<br>hoge<br>poyo</div>
    </div>
    <div class="col-xs-12">
      <div id="PurchaseHistory" class="box">PurchaseHistory</div>
    </div>
  </div>
</div>
