<%= form_with(model: book, local: true) do |form| %>
  <div class="text-center">
    <table id="add_items">
    </table><br>
    <%= form.submit class: 'btn btn-primary', id: 'submit', style: 'display:none;' %>
  </div>

  <% if book.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
