<%= javascript_include_tag 'script' %>

<h1>アイテムを追加</h1>

<textarea name="rec_text" id="result_text" cols="100" rows="10"></textarea><br>
<input type="button" onclick="parse_input()" value="決定"><input type="reset" value="クリア">
<input type="button" onClick="record()" value="録音開始">

<%= render 'form', book: @book %>

<%= link_to 'Back', books_path %>
