<div class="col-sm-12">

  <h1>アイテムを追加</h1>

<textarea name="rec_text" class="form-control" id="result_text" cols="100" rows="10"></textarea><br>
<button class="btn btn-primary" type="button" onClick="parse_input()">決定</button>
<button class="btn btn-default" type="button" onClick="reset()">クリア</button>
<button id="rec_button" class="btn btn-default" type="button" onClick="record()">
  <span onClick="remove(this)" class="glyphicon glyphicon-record" aria-hidden="true" style="color: #92140C;"></span> 録音開始
</button>

  <%= render 'form', book: @book %>
</div>
