// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// books.index
#BooksGraph{
  width: 100%;
  height: 800px;
}
#BarChart{
  padding: 15px;
}
#PieChart{
  padding: 15px;
}
// books.new
#explain{
  text-align: left;
}
#explain-img{
  width: 600px;
}
#LargePurchaseForm{
  padding: 0 15px;
}
#LargePurchaseFormDescription{
  text-align: left;
}
#result_text{
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}
#LargePurchaseFormButtons{
  padding-bottom: 30px;
}
#LargePurchaseFormTables{
  input{
    width: 100%;
    margin: 2px 2px 2px 0;
  }
}
#result_text{
  width: 100%;
  padding: 5px;
}
