#Closets{
  margin-top: 15px;
}
#ClosetsItems{
  overflow: auto;
  border-radius: 4px 0 0 0;
  background-color: $kakeibrown-light;
  height: calc(80vh - 115px);
  padding: 0 0 0 15px;
  @media (max-width: 767px) {
    height: calc(80vh - 65px);
  }
  .col-md-6.col-sm-12{
    padding: 0;
  }
}
#ClosetsCharactor{
  border-radius: 0 4px 0 0;
  background-color: $kakeibrown-light;
  height: calc(80vh - 115px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 767px) {
    height: calc(80vh - 65px);
  }
}
#ClosetsItemGroups{
  overflow: auto;
  border-radius: 0 0 4px 4px;
  background-color: $gray;
  height: calc(20vh - 63px);
}
#ClosetsToTopBtn{
  display: block;
  position: absolute;
  top: 20px;
  right: 35px;
  z-index: 1000;
  @media (max-width: 767px) {
    top: 10px;
    right: 25px;
    height: 48px;
    width: 48px;
  }
}
#ClosetsItemGroupsIcons{
  width: 564px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  @media (max-width: 767px) {
    width: 408px;
    height: 48px;
  }
}

//#ItemFadeout{
//  position: absolute;
//  bottom: 0;
//  margin-left: -15px;
//  width: 100%;
//  height: 100px;
//  background-color: #aaa;
//}

.ItemBox{
  background-color: #FFF;
  height: 150px;
  margin: 15px 15px 0 0;
  border-radius: 4px;
  border: 1px solid $kakeigray-light;
  background-image: image-url("sotai.png");
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.ItemImg{
  height: 148px;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.ItemDark{
  border-radius: 3px;
  background-color: rgba(0,0,0,0.5);
  height: 148px;
}

.GroupBox{
  width: 64px;
  height: 64px;
  margin: 0 15px;
  float: left;
  @media (max-width: 767px) {
    width: 48px;
    height: 48px;
    margin: 0 10px;
    img{
      width: 48px;
      height: 48px;
    }
  }
}
.Layers{
  margin: 0 -15px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
