/* Global Variables */
$white:                       #FFF !default;
$black:                       #000 !default;

/* color difined by Hassaku */
$kakeigray-dark:              #2C363C !default;
$kakeigray-middle:            #434D53 !default;
$kakeigray-light:             #9298A4 !default;

$kakeired-dark:               #DD5061 !default;
$kakeired-light:              #FF5E71 !default;

$kakeiorange-light:           #EF966A !default;

$kakeiemerald-dark:           #69D7CA !default;
$kakeiemerald-light:          #AEF9E9 !default;

$kakeibrown-light:            #EFFFE4 !default;

/* General Settings */
body{
  font-family: Noto Sans Japanese,Noto Sans JP,sans-serif;
  background-color: $kakeiemerald-dark;
  word-wrap: break-word;
}
span{
  display: inline-block;
  max-width: 100%;
}
hr{
  border-color: $kakeired-dark;
  margin: 10px auto;
}
.main{
  padding-top: 15px;
}
.box{
  margin-bottom: 15px;
  padding: 0 0 15px 0;
  border-radius: 4px;
  background-color: $white;
  text-align: center;
}
.field{
  margin: auto;
  right: 0;
  left: 0;
  max-width: 460px;
  text-align: left;
  label{
    float: left;
    height: 34px;
    width: 160px;
    margin: 0 20px 0 5px;
    line-height: 34px;
  }
}
.title{
  text-align: center;
}
.title h2{
  font-size: 30px;
  display: block;
  margin-top: 0;
  padding-top: 30px;
}
.triangle-top{
  position: relative;
  width: 0;
  height: 0;
  top: -40px;
  margin:auto;
  margin-bottom: -40px;
  left: 0;
  right: 0;
  border-bottom: 40px solid $white;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}
.triangle-bottom{
  position: relative;
  width: 0;
  height: 0;
  bottom: -40px;
  margin:auto;
  margin-top: -40px;
  left: 0;
  right: 0;
  border-top: 40px solid $white;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}
input{
  height: 40px;
  max-width: 270px;
  width: 96%;
  margin: 5px;
  padding: 0 10px;
  border: solid 1px $kakeigray-light;
  border-radius: 4px;

  &:focus{
  border-color: $kakeiemerald-dark;
  }
}
.form-control{
  width: 96%;
}

/* Typography */
.noto-thin      { font-weight: 100; }
.noto-light     { font-weight: 300; }
.noto-demilight { font-weight: 350; }
.noto-regular   { font-weight: 400; }
.noto-medium    { font-weight: 500; }
.noto-bold       { font-weight: 700; }
.noto-black     { font-weight: 900; }


.text-darkgray{
  color: $kakeigray-dark;
}
.text-middlegray{
  color: $kakeigray-middle;
}
.text-lightgray{
  color: $kakeigray-light;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(font-path('bootstrap/glyphicons-halflings-regular.eot'));
  src: url(font-path('bootstrap/glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
       url(font-path('bootstrap/glyphicons-halflings-regular.woff2')) format('woff2'),
       url(font-path('bootstrap/glyphicons-halflings-regular.woff')) format('woff'),
       url(font-path('bootstrap/glyphicons-halflings-regular.ttf')) format('truetype'),
       url(font-path('bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

/* Flash */
#Flash{
  background-color: rgba(256, 256, 256, 0.5);
  text-align: center;
}

/* Navi */
.navbar{
  z-index: 10000;
  height: 100px;
  border: 0;
  border-radius: 0;
  @media (max-width: 767px) {
    height: 50px;
  }
}
.navbar-header{
  height: 50px;
}
.navbar-toggle{
  border: 0;
  margin: 9px 10px;
}
#gnavi{
  padding: 0;
  border: 0;
}
ul.nav{
  margin: 0;
  width: auto;
}
#logo{
  margin: 25px;
  @media (max-width: 767px) {
    margin: 10px 20px;
    height: 30px;
  }
}

/* Contents */
#Contents{
  min-height: calc(100vh - 158px);
  @media (max-width: 767px) {
    min-height: calc(100vh - 108px);
  }
}

/* Footer */
#Footer{
  height: 60px;
  background-color: $kakeigray-dark;

  p{
  margin: 0;
  color: $white;
  text-align: center;
  line-height: 58px;
  }
}
