/* static_page */

/* Index */
/* TopPic */
/*
#TopPic{
  height: 530px;
  background-image: image-url("top2.png");
  background-size: cover;
  background-position: center;

  h1{
    margin-top: 230px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 100;
  }
  a{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }
}
*/

/* Sign in Links */
#Links{
  text-align: center;
  color: $kakeiorange-light;
  background-color: $kakeibrown-light;
  //padding: 0 0 20px 0;
  h1{
    color: $kakeired-dark;
    font-size: 14pt;
    margin: 20px 0 10px 0;
  }
  h2{
    font-size: 30pt;
  }
  h3{
    font-size: 22pt;
    margin-bottom: 0px;
  }
  p{
    font-size: 14pt;
    margin-top: 0;
  }
  .btn{
    width: 200px;
    height: 60px;
    font-size: 14pt;
    line-height: 60px;
    margin-bottom: 10px;
  }
}

/* Features */
#Features{
  padding-top: 15px;
  background-color: $white;
  .box{
    border: solid 1px $kakeigray-border;
  }
  h2{
    color: $kakeired-dark;
    font-size: 20pt;
  }
  .feature-text{
    min-height: 60px;
    vertical-align: bottom;
  }
}
#Abouts{
  .box{
    padding: 0 30px 30px 30px;
    text-align: left;
  }
  h3, h4{
    color: $kakeiorange-light;
  }
}


.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}


/* AppInfo */
#AppInfo{
  color: $white;
  background-color: $kakeigray-dark;

  h1{
    margin-top: 40px;
    font-size: 26pt;
    font-weight: 400;
  }
  p{
    margin-top: 25px;
  }
  div.col-sm-4.col-xs-12{
    height: 220px;
    text-align: center;
  }
}
