/* Users */

/* show */
#Information{
  min-height: 335px;

  span.title-rest{
    font-size: 40pt;
  }
  span.title-middle{
    font-size: 25px;
  }
}


#PurchaseForm{
  min-height: 450px;
  .form-text{
    margin: 0 10px;
  }
  input{
    color: $kakeigray-dark;
  }
  .btn{
    width: 160px;
    height: 54px;
    margin: 5px 10px;
    line-height: 50px;
    font-size: 16px;
  }
  .btn-danger{
    color: $white;
  }
}


#Charactor-bg{
  height: 700px;
  background-image: image-url("charactor-bg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
  @media (max-width: 767px) {
    height: 80vh;
  }
}
#Charactor-coin{
  width: 170px;
  height: 72px;
  padding: 32px 0 0 20px;
  font-size: 22px;
  text-align: left;
  span{
    vertical-align: middle;
  }
  @media (max-width: 767px) {
    height: 50px;
    padding: 10px 0 0 10px;
    font-size: 16pt;
  }
}
#Charactor-ToClosetsBtn{
  display: block;
  position: absolute;
  top: 20px;
  right: 35px;
  z-index: 1050;
  @media (max-width: 767px) {
    top: 10px;
    right: 25px;
    height: 48px;
    width: 48px;
  }
}
#Charactor-Img{
  height: 100%;
  @media (max-width: 767px) {
    height: calc(70vh - 50px);
  }
}
.Charactor-ItemImg{
  position: absolute;
  height: 628px;
  width: 100%;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: -15px;
  @media (max-width: 767px) {
    height: calc(70vh - 50px);
  }
}
#Charactor-balloon{
  min-height: 85px;
  background-color: $white;
  border-radius: 0 0 4px 4px;
  @media (max-width: 767px) {
    height: calc(30vh - 50px);
  }

  div.triangle-top{
    margin-left: 15%;
  }
  h4{
    margin: 15px 0 5px 0;
    padding: 0 15%;
    text-align: left;
    color: $kakeigray-light;
    font-size: 12pt;
    font-weight: 500;
  }
  p{
    font-size: 20pt;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 17pt;
    }
  }
}


#PurchaseHistory{
  .timeline{
    padding: 15px;
    .events{
      padding: 0;
      font-size: 20px;
      background-color: $kakeiemerald-light;
      table{
        width: 90%;
        margin: 5%;
        td{
          color: $kakeigray-light;
          padding: 0;
        }
        th{
          color: $kakeigray-dark;
          padding: 0;
        }
        .purchase-left{
          width: 45%;
          text-align: left;
        }
        .purchase-middle{
          width: 10%;
          text-align: center;
        }
        .purchase-right{
          width: 45%;
          text-align: right;
        }
        .purchase-sum{
          padding: 5px 0;
          margin: 5px 0;
          border-top: solid 1px $kakeiemerald-dark;
        }
      }
    }
  }
  .purchase-link{
    padding: 10px;
    font-size: 20px;
  }
}

/* Profile Edit */
#LogoutWithdrawButtons{
  margin-bottom: 15px;
}
