/* universal */
body {
  height: 100vh;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
#contents{
  padding-top: 90px;
  min-height: 100%;
  background-size: cover;
  background-color: rgba(255,234,222,0.8);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
}
.title{
  font-family: "Rounded Mplus 1c";
}

/*header*/
header{
  width: 100%;
  height: 90px;
  background-color: #ffecd2;
  box-shadow: 0 0px 10px 0 rgba(0,0,0,0.3);
}
#header_container{
  height: 80px;
}
#logo{
  margin: 15px 0 5px 0;
  height: 60px;
  float: left;
}
.header_button{
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.button_settings{
  background-color: rgba(255,236,210,1);
  border: 1px solid #999;
}

.border_test{
  width: 100%;
  height: 10px;
  background-image: linear-gradient(45deg,
                    #ffecd2 25%,
                    #33241d 25%, #33241d 50%,
                    #ffecd2 50%, #ffecd2 75%,
                    #33241d 75%, #33241d
                    );
  /* 幅8px、高さ8pxで背景画像のサイズを指定 */
  background-size: 8px 8px;
  border-style: solid none solid none;
  border-color: #33241d;
}

/* footer */
footer {
  width: 100%;
  height: 30px;
  background-color: #000;
  position: fixed;
  bottom: 0;
}
footer p{
  padding: 0 30px;
  margin: 0;
  text-align: center;
  color: #dddddd;
}

/* users/show */
#zandaka{
  background-color: rgba(255,255,255,0.5);
  border-radius: 2px;
  padding-bottom: 15px;
  box-shadow: 0 5px 10px 0vw rgba(0,0,0,0.3);
  margin-top: 10px;
  margin-bottom: 10px;
}
#zandaka h1{
  font-family: "Rounded Mplus 1c";
  text-align: center;
  font-size: 40pt;
  color: #E64A19;
}
#zandaka h2{
  color: #444;
  margin: 18px 0;
  font-family: "Rounded Mplus 1c";
}
#zandaka p{
  color: #444;
  font-size: 20px;
  font-family: "Rounded Mplus 1c";
}
#recent{
  background-color: rgba(255,255,255,0.5);
  border-radius: 2px;
  padding-bottom: 15px;
  box-shadow: 0 5px 10px 0vw rgba(0,0,0,0.3);
  margin-top: 10px;
  margin-bottom: 10px;
}
#chara{
  background-color: rgba(255,255,255,0.5);
  border-radius: 2px;
  padding-bottom: 15px;
  box-shadow: 0 5px 10px 0vw rgba(0,0,0,0.3);
  margin-top: 10px;
  margin-bottom: 10px;
}
#chara p{
  margin-top: 10px;
}
#chara-img{
  display: block;
  margin: 0 auto;
  width: 350px;
}
#fab{
  display: block;
  position: fixed;
  width: 12vw;
  height: 12vw;
  bottom: 10vh;
  right: 10vw;
  border-radius: 6vw;
  background-color: #CC114C;
  box-shadow: 0 0.5vw 0.5vw 0vw rgba(0,0,0,0.3);
  text-align: center;
}
#fab i{
  vertical-align: middle;
  line-height: 12vw;
  color: #fff;
  font-size: 4.5vw;
}
#fab:hover{
  box-shadow: 0 0.5vw 1vw 0vw rgba(0,0,0,0.3);
  background-color: #e61255;
}

/*index_book*/
#item_table td,th{
    padding: 2px 4px;
}

/* top_index */
.btn-xxl {
  padding: 20px 26px;
  margin: 5px;
  font-size: 25px;
  border-radius: 8px;
}
.jumbo {
  background-position: center;
  background-size: cover;
  background-color: #fff;
  box-shadow: 0 0.5vw 1vw 0vw rgba(0,0,0,0.3);
}
.logo_img{
  width: 380px;
  margin-top: 120px;
  padding: 20px;
}
.logo_text {
  margin: 40px 10px 10px 10px;
  font-size: 40px;
  color: #222;
  text-align: center;
  font-family: "Rounded Mplus 1c";
}
.btn-signup{
  text-align: center;
  margin-top: 30px;
}
.logo{
  text-align: center;
}
.top_box{
  height: 800px;
}
#top_girl{
  display: block;
  position: fixed;
  width: 25vw;
  height: 12vw;
  right: 10vw;
  bottom: 18vw;
}

/*books*/
#books_text{
  color: #444;
  margin: 18px 0;
  font-family: "Rounded Mplus 1c";
}

#modal{
  margin-top: 120px;
}

/*
.logo_text {
  margin: 10px;
  background-color: rgba( 204, 255, 204, 0.55 );
}*/

