/* universal */

body {
  padding-top: 60px;
}


/*header*/
#logo{
 float: left;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #000000
}

#copyright{
  padding: 0 30px;
  text-align: center;
  color: #dddddd;
}

/* users/show */
#data {
}

/*index_book*/
#item_table td,th{
    padding: 2px 4px; 
}
