
<!-- Navi -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="/">
        <% if logged_in? %>
        <%= link_to image_tag('/assets/logo.png', {:id => "logo", :alt => '家計学園'}), user_path %>
        <% else %>
        <%= link_to image_tag('/assets/logo.png', {:id => "logo", :alt => '家計学園'}), root_path %>
        <% end %>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse"  data-target="#gnavi">
        <span class="sr-only">メニュー</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Sign up', signup_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
