<header class="navbar navbar-fixed-top">
  <div id="header_container" class="container">
    <%= link_to image_tag('/assets/logo-s.png', {:id => "logo", :border => '0', :alt => '家計学園'}), root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!--<li class="header_button">
          <%= link_to "ボタン1" , "#" %>
        </li>
        <li class="header_button">
          <%= link_to "ボタン2" , "#" %>
        </li>-->
        <% if logged_in? %>
        <li class="setting_button">
          <%= link_to "設定" , edit_user_path(current_user.id), { :class => "btn button_settings" } %>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="border_test">
  </div>
</header>
