<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
    <h1><%= link_to "家計学園(仮)", static_page_index_path %></h1>
    <nav>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="#">ログイン</a></li>
    </ul>
    </nav>
</div>

    
</header>